 <div class="jumbotron">

    <h1 align="center">Send Message</h1>
    <progressbar class="progress center-block" *ngIf="loading" max="100" [value]="100" type="success" [striped]="true" [animate]="true">Loading...</progressbar>

    <div class="container" *ngIf="!loading">
      <h6 id="errorMsg" align="center">{{error}}</h6>
    </div>

    <div class="container main-content">
      <div class="row">

        <div class="col-md-10">

          <div id="textArea">
            <p *ngFor="let message of messages;">
              {{message.user}}: {{message.message}}
            </p>
          </div>

          <div *ngIf="typingUsers.length === 0">
            <h5 id="trans">⠀</h5>
          </div>

          <div *ngIf="typingUsers.length > 0">
            <h5 [innerHTML]="calculateTypingText()"></h5>
          </div>

          <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">

            <div class="form-group">
              <div class="col-sm-4 offset-sm-4">
                <input type="text" class="form-control" formControlName="message" id="message" placeholder="Type message to send" minlength="0" maxlength="300" autocomplete="off">
              </div>
            </div>

            <p class="col text-center" id="counter">{{(messageForm.get("message").value === null) ? 0 : messageForm.get("message").value.length}}/300</p>

            <div class="col text-center">
              <button class="btn btn-success" type="submit" [disabled]="!messageForm.valid">Send Message</button>
            </div>
          </form>

          <button class="btn btn-info">Go back</button>

        </div>

        <div class="col-md-2" id="activeChatters">
          <h6 align="center">Active chatters ({{connectedUsers.length}})</h6>

          <ul>
            <li *ngFor="let user of connectedUsers">
              <p>{{user}}</p>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>

