 <div class="jumbotron">

   <h1 align="center">Server ({{joinedUser.room}})</h1>
    <progressbar class="progress center-block" *ngIf="loading" max="100" [value]="100" type="success" [striped]="true" [animate]="true">Loading...</progressbar>

    <div class="container" *ngIf="!loading">
      <h6 id="errorMsg" align="center">{{error}}</h6>


    <div class="container main-content">
      <div class="row">

        <div class="col-md-10">

          <div id="textArea">
            <section *ngFor="let message of messages">
              <div class="row" id="test">
                <img *ngIf="!message.isSystemInfo" id="chatImage" class="col" src="https://i.imgur.com/Nsm95z7.png">
                <ul class="col">
                  <li>
                    <p *ngIf="!message.isSystemInfo" class="col" id="chatText"><b>{{message.user.username}}: </b> {{message.message}}</p>
                  </li>
                  <li>
                    <p *ngIf="!message.isSystemInfo" class="" id="dateText">({{message.timestamp | date:'short'}})</p>
                    <p *ngIf="message.isSystemInfo" class="info" align="center">{{message.message}}</p>
                  </li>
                </ul>
              </div>
            </section>
          </div>

          <div *ngIf="typingUsers.length === 0">
            <h5 id="trans">⠀</h5>
          </div>

          <div *ngIf="typingUsers.length > 0">
            <h5 [innerHTML]="calculateTypingText()"></h5>
          </div>

          <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">

            <div class="form-group">
              <div class="col-sm-4 offset-sm-4">
                <input type="text" class="form-control" formControlName="message" id="message" placeholder="Type message to send" minlength="0" maxlength="300" autocomplete="off">
              </div>
            </div>

            <p class="col text-center" id="counter">{{(messageForm.get("message").value === null) ? 0 : messageForm.get("message").value.length}}/300</p>

            <div class="col text-center">
              <button class="btn btn-success" type="submit" [disabled]="!messageForm.valid">Send Message</button>
            </div>
          </form>

          <button class="btn btn-info">Go back</button>

        </div>

        <div class="col-md-2" id="activeChatters">
          <app-active-users></app-active-users>
        </div>


      </div>
    </div>
    </div>
  </div>

