<div class="jumbotron">
  <h1 align="center">Join the chat!</h1>

  <div class="container">

    <h6 id="errorMsg" align="center">{{error}}</h6>

    <form [formGroup]="registerForm" (ngSubmit)="createUser()">
      <div class="form-group">
        <div class="col-sm-4 offset-sm-4">
          <label for="name">Username</label>
          <input type="text" class="form-control" formControlName="name" id="name" placeholder="Enter desired username:" minlength="1" maxlength="16" pattern="^(?!.* {2})(?=\S)(?=.*\S$)[a-zA-Z æøåÆØÅ0-9 ]+$" autocomplete="off">
        </div>

        <div class="col-sm-8 offset-sm-4">
          <h6 id="error" *ngIf="registerForm.get('name').invalid && registerForm.get('name').dirty">Name must be between 0-16 characters with no whitespace</h6>
          <h6 *ngIf="registerForm.get('name').value === '' && !registerForm.get('name').dirty || registerForm.get('name').valid">⠀</h6>
        </div>
      </div>

      <div class="col-sm-4 offset-sm-4">
        <input type="text" class="form-control" formControlName="room" placeholder="Enter a room!" autocomplete="off" maxlength="16">
      </div>

      <br>

      <div class="col text-center">

        <button class="btn btn-success" type="submit" [disabled]="!registerForm.valid || registerLoad">Join the chat! <fa-icon [icon]="signInAlt"></fa-icon></button>
      </div>
    </form>

  </div>
</div>
