<div class="jumbotron">




  <progressbar class="progress center-block" *ngIf="loading" max="100" [value]="100" type="success" [striped]="true" [animate]="true">Loading...</progressbar>
  <div class="container" *ngIf="!loading">
    <h6 id="errorMsg" align="center">{{error}}</h6>

    <label class="col-md-2" id="listingSelect">
      Items pr. page:
      <select class="form-control" [(ngModel)]="itemsPrPage" (ngModelChange)="itemsPrPageUpdate()">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
      </select>
    </label>



    <div class="container" id="mainWindow">

      <div class="title">
        <h1 align="center">Stock Exchange!</h1>
      </div>

      <div class="row title">
        <div class="col-md-4 stockTable">
          <h3 align="center">Stocks</h3>
        </div>
        <div class="col-md-8">
          <h3 align="center">Selected Stock</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 stockTable">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Stock name</th>
              <th scope="col">Stock price</th>
            </tr>
            </thead>
            <tbody>
            <tr class="data" *ngFor="let stockItem of stock" (click)="selectStock(stockItem)" [class.selected]="stockItem.id === selectedStock?.id">
              <td>{{stockItem.name}}</td>
              <td id="price">{{stockItem.currentStockPrice | currency: 'DKK '}}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-8">
          <div id="textArea">
            <div *ngIf="selectedStock">
              <h3 align="center">{{selectedStock.name}}</h3>
            </div>
          </div>
        </div>
      </div>






    </div>












    <div class="container main-content">
      <div class="row">

      </div>
    </div>


    <div class="d-flex" id="btnArea">
      <button class="p-2 btn btn-info" id="goBackButton"><fa-icon [icon]="circleLeft"></fa-icon> Go back</button>
      <div class="col-md-3 offset-md-8 d-flex">
        <button class="ml-auto p-2 btn btn-success btn-block" (click)="openModal(createTemplate)">Add</button>
        <button class="p-2 btn btn-warning btn-block">Update</button>
        <button class="p-2 btn btn-danger btn-block">Delete</button>
      </div>

    </div>


    <div>
      <div id="pages" class="row">
        <pagination
          [maxSize]="5"
          [directionLinks]="false"
          [totalItems]="totalItems"
          [(ngModel)]="currentPage"
          (pageChanged)="pageChanged($event)"
          [itemsPerPage]="itemsPrPage"
          (numPages)="smallNumPages = $event">
        </pagination>
      </div>

      <div id="paging" class="row">
        <pager
          [totalItems]="totalItems"
          [(ngModel)]="currentPage"
          (pageChanged)="pageChanged($event)"
          pageBtnClass="btn"
          previousText="« Back"
          [itemsPerPage]="itemsPrPage"
          class="pull-left">
        </pager>
      </div>
    </div>
  </div>
</div>








<ng-template #createTemplate>
  <div  class="createView modal-header">
    <h1 class="modal-title w-100 text-center"><b>Create new stock</b>?</h1>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="createView modal-body">
    <h6 align="center">{{stockCreateError}}</h6>
    <form [formGroup]="createForm" (ngSubmit)="createStock()">

      <div class="form-group">
        <div class="col text-center">
          <label for="name">Stock name</label>
          <input type="text" class="form-control" formControlName="name" id="name" placeholder="Enter stock name" minlength="1" maxlength="16">
        </div>

        <div class="col text-center">
          <h6 *ngIf="createForm.get('name').invalid && createForm.get('name').dirty">Stock must have a name</h6>
        </div>
      </div>

      <div class="form-group">
        <div class="col text-center">
          <label for="description">Stock description</label>
          <input type="text" class="form-control" formControlName="description" id="description" placeholder="Enter stock description" minlength="1" maxlength="300">
        </div>

        <div class="col text-center">
          <h6 *ngIf="createForm.get('description').invalid && createForm.get('description').dirty">A description must be entered</h6>
        </div>
      </div>

      <div class="form-group">
        <div class="col text-center">
          <label for="stockPrice">Stock price</label>
          <input type="number" class="form-control" formControlName="price" id="stockPrice" placeholder="Enter stock price" min="0" max="99999">
        </div>

        <div class="col text-center">
          <h6 *ngIf="createForm.get('price').invalid && createForm.get('price').dirty">Enter a valid price between 0-99999</h6>
        </div>
      </div>

      <progressbar class="progress" *ngIf="stockCreateLoading" max="100" [value]="100" type="success" [striped]="true" [animate]="true">Loading...</progressbar>

      <div class="col text-center">
        <button (click)="modalRef.hide();" id="cancelButtonCreate" type="button" class="btn btn-secondary" >Cancel</button>
        <button class="btn btn-success" id="createButton" type="submit" [disabled]="!createForm.valid || stockCreateLoading">Create</button>
      </div>

    </form>
  </div>
</ng-template>
